.example-card {
  max-width: 1000px;
}
.article {
  padding-left: 15%;

}
.example-header-image {
  background-size: cover;
}
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
